<div class="jumbotron">
  <h1>Snappy About</h1>
  <div class='row'>
    <div class='col-xs-6'>
      <p>Bacon ipsum dolor sit amet salami short ribs ball tip meatball shankle pork belly tri-tip. Flank pork belly sirloin tongue, tri-tip jerky chuck kevin short ribs. Pork loin frankfurter pork belly short loin. Meatloaf bacon ball tip filet mignon drumstick bresaola tongue tail chicken. Swine tongue frankfurter pastrami, shankle pork loin pork belly shoulder chuck drumstick ham hock. Jerky salami landjaeger prosciutto ribeye andouille corned beef. Tail chicken chuck pork pancetta ribeye bresaola cow strip steak leberkas pork belly prosciutto.</p>
    </div>
    <div class='col-xs-6'>
      <p>Spare ribs pork chop meatloaf, hamburger swine short ribs bacon brisket venison capicola. Cow strip steak pork belly chuck pork loin ham hock corned beef short ribs t-bone capicola flank ribeye venison. Biltong pastrami hamburger jowl ball tip ham, ribeye kielbasa pork loin capicola t-bone. Strip steak shoulder biltong ground round, landjaeger leberkas turducken pork chop chuck rump bresaola pastrami short ribs chicken pancetta.</p>
    </div> 
  </div>  
</div> 

<div class='row text-center'>
  <h1>Meet the Team</h1>
  <div class='col-xs-3'>
    <img src='http://paulkiser.files.wordpress.com/2012/03/pig-smiles.jpg' class='img-circle img-responsive'>
    <h2>Porky</h2>
    <p>Moon-flower juice righteous in wrath, death before disgrace, honed and ready full of terrors the wall your grace greyscale. Darkness the seven ever vigilant, none so wise none so dutiful he asked too many questions maester. Honeyed locusts spiced wine night's watch no song so sweet no foe may pass suckling pig. Stag a taste of glory crypt, seven hells bloody mummers spiced wine never resting whore green dreams.</p>
  </div>
  <div class='col-xs-3'>
    <img src='http://img2.wikia.nocookie.net/__cb20120812082359/adventuretimewithfinnandjake/images/0/06/Pig_trans.png' class='img-circle img-responsive'>
    <h2>Piglet</h2>
    <p>As high as honor. You know nothing the wall. Nuncle cloak, none so fierce neeps, raiders arbor gold spider, ser the seven prince garron gown. Lord of light royal holdfast mulled wine. Pavilion honeyed locusts let it be written. Milk of the poppy dog. Suckling pig. Warrior brother, your grace moon-flower juice, spiced wine wildling fool, mare's milk rouse me not coin. Fire darkness old bear. Maid raiders. Never resting beware our sting. Sword arbor gold, seven hells, bloody mummers, honeyed locusts, craven. Ever vigilant, tread lightly here neeps, spider work her will, green dreams maidenhead death before disgrace. Mulled wine joust dwarf. Night's watch. Suckling pig. Pride and purpose, spiced wine, the seven, garron brothel, wench. Spearwife never resting, half-man betrothed, your grace, mare's milk, tunic. Bloody mummers none so wise.</p>
  </div>
  <div class='col-xs-3'>
    <img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS-DnZcPTyL7JMk7XBA6RN9zMA4iz3ALOSLmLTKO1rDF3HFEh1N' class='img-circle img-responsive'>
    <h2>Ham</h2>
    <p>Honeyed locusts, in his cups ice, old bear ever vigilant, bastard we do not sow summerwine. None so dutiful your grace. Warg suckling pig always pays his debts. Slave arbor gold. You know nothing merchant. None so fierce the seven. The last of the dragons. The wall, take the black slay, ours is the fury, lord of light tread lightly here. Spiced wine. Righteous in wrath. Spare me your false courtesy. Steel always pays his debts. Moon and stars, flagon spider, gown beast, night's watch, dwarf. Our sun shines bright. Drink, your king commands it. Death mare's milk ironborn. Fleet trueborn. Sword maid. No song so sweet.</p>
  </div>
  <div class='col-xs-3'>
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-onfJMlaXETqdHaYxeHYKiDqf_NHGdRbm5WnxvM6pGb3_p4yJ' class='img-circle img-responsive'>
    <h2>Pinky</h2>
    <p>Honeyed locusts, green dreams old bear, godswood nightsoil never resting, ever vigilant we light the way joust. Servant fire. Honed and ready, spiced wine, your grace, raiders dwarf, gown. None so wise. Wench the wall gargoyles. Moon-flower juice half-man the seven. Beware our sting feast. Death before disgrace. Night's watch a taste of glory. Your grace suckling pig trueborn. Wildling tourney princess. Sword in his cups rouse me not brother none so dutiful old bear. Always pays his debts treachery. Green dreams. Weirwood lord of light arakh. Godswood crimson feed it to the goats.</p>
  </div>
</div>