<div class="row">
  <div class="col-xs-6">
    <h1>Contact</h1>
    <form class="contact-form" role="form">
      <div class="form-group">
        <label class="control-label" for="user_username">Name</label>
        <input
           id="user_username"
           name="user[username]"
           type="text"
           class="form-control"
           placeholder="Enter name">
      </div>
      <div class="form-group">
        <label class="control-label" for="user_username">Phone Number</label>
        <input
           id="user_username"
           name="user[username]"
           type="text"
           class="form-control"
           placeholder="Enter phone number">
      </div>
      <input type="button" value="contact" class="btn btn-default" id="contact-form-button">
    </form>
  </div>
  <div class="col-xs-6">
    <h1>Right Col</h1>
    <table class="table table-striped">
      <tr>
        <td>Jill</td>
        <td>8675430</td>
      </tr>
      <tr>
        <td>Bill</td>
        <td>867230</td>
      </tr>
      <tr>
        <td>Will</td>
        <td>8634430</td>
      </tr>
      <tr>
        <td>Dill</td>
        <td>8611430</td>
      </tr>
    </table>
  </div>
</div>