<div class='row'>
<div class="row">
  <div class="col-xs-3" id="home-nav-bar">
    <h1>Nav Bar</h1>
    <div class="navbar-scroll">
      <ul class="nav nav-tabs nav-stacked" role="tablist">
        <li>
          <a href="#Dogs">
            Dogs
          </a>
        </li>
        <li>
          <a href="#Morbi">
            Morbi commodo
          </a>
        </li>
        <li>
          <a href="#Lorem">
            Lorem ipsum
          </a>
        </li>
        <li>
          <a href="#Suspendisse">
            Suspendisse placerat
          </a>
        </li>
        <li>
          <a href="#Phasellus">
            Phasellus at
          </a>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="col-xs-8 col-xs-offset-4">
    <div id="Dogs">
      <h1>Dogs</h1>
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="item active">
            <%= image_tag 'pic1.jpg' %>
            <div class="carousel-caption">
              Saying Hi
            </div>
          </div>
          <div class="item">
             <%= image_tag 'pic2.jpg' %>
            <div class="carousel-caption">
              Partners in Crime
            </div>
          </div>
          <div class="item">
             <%= image_tag 'pic3.jpg' %>
            <div class="carousel-caption">
              GET ME OUTTA HERE
            </div>
          </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
   
  <div id="Morbi">  
  <h1>Morbi commodo dui quis ipsum cursus.</h1>
  <p>Puppy kitty ipsum dolor sit good dog canary collar yawn rover wag tail litter stay dog house cat. Lick tabby dog house feathers fetch hamster kibble gimme five pet gate lazy dog pet gate. Turtle running lol catz tooth ball teeth lol catz vaccine chirp roll over <a href="" class='has-tooltip' data-toggle='tooltip' title='First Tooltip' data-placement='top' data-trigger='hover'>Fido play dead</a>. Walk behavior harness kitten ID tag sit speak feathers harness toys wag tail furry food drool tuxedo swimming yawn. Heel drool bed wag tail cockatiel brush sit aquarium good boy. Birds pet gate right paw foot tabby cage treats drool tooth feathers. Vaccine polydactyl wagging fleas walk fish warm wagging bed food. Pet Supplies feeder good boy dinnertime litter box harness vaccine Rover pet food toys pet supplies harness Mittens wagging aquarium harness paws vaccination.Aquatic Snowball chirp licks toys nest hamster turtle ID tag vaccine dog cage paws catch drool cockatiel park chow. Wagging Snowball water dog turtle Tigger string Spike window scratcher maine coon cat play dead food lazy dog bird leash. Tooth tuxedo aquarium bird seed stay litter box stripes nap. Roll Over ball crate dragging chow run fast Mittens vaccine. Wet Nose parrot bird licks pet crate vitamins vaccine drool groom toy water dog.Puppy kitty ipsum dolor sit good dog twine house train mittens groom critters leash purr lick bird seed. Bird Seed string Spike head kitty run drool catch bedding carrier brush play running foot critters fur. Wet Nose play dead vitamins roll over twine swimming walk water dog mouse nest gimme five cage park sit fleas teeth. Pet Gate lazy cat Scooby snacks scratch aquarium wagging lick kibble wet nose furry purr heel aquarium pet supplies. Warm commands furry Tigger dragging cage toy kisses warm lazy cat lol catz chow bedding wag tail small animals brush throw litter. ID Tag swimming aquarium hamster string kitty tail vitamins kisses paws biscuit good boy fish stripes toys pet supplies chew sit. Dinnertime groom carrier Mittens kisses leash house train sit run fast dog stay canary crate kitty licks right paw twine.Pet Supplies aquatic lazy dog fur tuxedo fish cage Snowball Spike tail throw crate Rover cage treats. Leash food aquarium swimming cat drool shake toys mouse scratcher Buddy. Shake vaccination Fido shake stick walk gimme five head licks biscuit parakeet shake throw shake paws. Parakeet leash fluffy teeth parakeet bird seed food string sit leash bird food yawn crate. Tuxedo ID tag scratcher swimming sit play bark chirp water dragging tuxedo ID tag parrot head leash critters chow puppy feathers. Dog House run fast drool ferret Snowball bark licks pet supplies fleas whiskers pet gate Fido park licks Rover water dog play dead.Vitamins litter aquatic scratch dog foot stick toy biscuit finch kitty park turtle pet supplies Fido run Buddy maine coon cat. Stay Spike parakeet fetch Spike teeth smooshy pet supplies water dog bark groom running field tooth pet supplies dinnertime vaccine lazy dog sit. Kisses polydactyl brush Tigger turtle Spike. Aquatic kitty Buddy tooth twine running Rover. Meow pet food meow toys mouse dog house scratcher ball stay pet food teeth food maine coon cat yawn biscuit wet nose twine. Rover window bark finch lazy cat collar lazy dog fleas park toys catch leash nest pet food nest parrot. Tongue walk fleas Buddy dog Mittens bird good boy Buddy critters litter box meow pet supplies.
  </p>
  </div>
  
  <div id="Lorem">
  <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
  <p>Fish dragging chow string pet groom wag tail behavior. Wagging tuxedo walk cage drool water. <a href="" class='has-tooltip' data-toggle='tooltip' title='Second Tooltip' data-placement='top' data-trigger='hover'>Aquarium kitty</a> play warm groom toys nap pet supplies. Bird Food nap mouse tail stripes vitamins walk cage treats. ID Tag run catch maine coon cat Snowball polydactyl pet supplies Tigger fetch play dead aquarium tongue pet. Lol Catz foot food stripes running walk sit roll over. Hamster left paw chew vitamins scratcher Scooby snacks nest.Aquatic Snowball chirp licks toys nest hamster turtle ID tag vaccine dog cage paws catch drool cockatiel park chow. Wagging Snowball water dog turtle Tigger string Spike window scratcher maine coon cat play dead food lazy dog bird leash. Tooth tuxedo aquarium bird seed stay litter box stripes nap. Roll Over ball crate dragging chow run fast Mittens vaccine. Wet Nose parrot bird licks pet crate vitamins vaccine drool groom toy water dog.Puppy kitty ipsum dolor sit good dog twine house train mittens groom critters leash purr lick bird seed. Bird Seed string Spike head kitty run drool catch bedding carrier brush play running foot critters fur. Wet Nose play dead vitamins roll over twine swimming walk water dog mouse nest gimme five cage park sit fleas teeth. Pet Gate lazy cat Scooby snacks scratch aquarium wagging lick kibble wet nose furry purr heel aquarium pet supplies. Warm commands furry Tigger dragging cage toy kisses warm lazy cat lol catz chow bedding wag tail small animals brush throw litter. ID Tag swimming aquarium hamster string kitty tail vitamins kisses paws biscuit good boy fish stripes toys pet supplies chew sit. Dinnertime groom carrier Mittens kisses leash house train sit run fast dog stay canary crate kitty licks right paw twine.Pet Supplies aquatic lazy dog fur tuxedo fish cage Snowball Spike tail throw crate Rover cage treats. Leash food aquarium swimming cat drool shake toys mouse scratcher Buddy. Shake vaccination Fido shake stick walk gimme five head licks biscuit parakeet shake throw shake paws. Parakeet leash fluffy teeth parakeet bird seed food string sit leash bird food yawn crate. Tuxedo ID tag scratcher swimming sit play bark chirp water dragging tuxedo ID tag parrot head leash critters chow puppy feathers. Dog House run fast drool ferret Snowball bark licks pet supplies fleas whiskers pet gate Fido park licks Rover water dog play dead.Vitamins litter aquatic scratch dog foot stick toy biscuit finch kitty park turtle pet supplies Fido run Buddy maine coon cat. Stay Spike parakeet fetch Spike teeth smooshy pet supplies water dog bark groom running field tooth pet supplies dinnertime vaccine lazy dog sit. Kisses polydactyl brush Tigger turtle Spike. Aquatic kitty Buddy tooth twine running Rover. Meow pet food meow toys mouse dog house scratcher ball stay pet food teeth food maine coon cat yawn biscuit wet nose twine. Rover window bark finch lazy cat collar lazy dog fleas park toys catch leash nest pet food nest parrot. Tongue walk fleas Buddy dog Mittens bird good boy Buddy critters litter box meow pet supplies.
  </p>
  </div>
  
  <div id="Suspendisse">
  <h1>Suspendisse placerat volutpat felis convallis aliquam.</h1>
  <p><a href="" class='has-tooltip' data-toggle='tooltip' title='Third Tooltip' data-placement='top' data-trigger='hover'>Turtle Spike</a> pet canary warm teeth aquarium crate Fido fluffy heel toy chow. Running tooth wet nose kibble nap brush pet gate stick chew catch. Toy lazy cat dinnertime vaccine sit food bird seed chirp lol catz ID tag chirp throw gimme five leash fluffy chow groom pet nest groom. <a href="" class='has-tooltip' data-toggle='tooltip' title='Fourth Tooltip' data-placement='top' data-trigger='hover'>Tuxedo harness</a> catch Rover teeth carrier canary bird food crate right paw barky throw left paw turtle head barky parakeet groom. Stay ball vitamins roll over wag tail puppy toys parrot Rover Tigger toy finch paws hamster cage grooming toy. Yawn tail scratcher ferret tail chirp nest treats field ID tag field vaccine Mittens.Aquatic Snowball chirp licks toys nest hamster turtle ID tag vaccine dog cage paws catch drool cockatiel park chow. Wagging Snowball water dog turtle Tigger string Spike window scratcher maine coon cat play dead food lazy dog bird leash. Tooth tuxedo aquarium bird seed stay litter box stripes nap. Roll Over ball crate dragging chow run fast Mittens vaccine. Wet Nose parrot bird licks pet crate vitamins vaccine drool groom toy water dog.Puppy kitty ipsum dolor sit good dog twine house train mittens groom critters leash purr lick bird seed. Bird Seed string Spike head kitty run drool catch bedding carrier brush play running foot critters fur. Wet Nose play dead vitamins roll over twine swimming walk water dog mouse nest gimme five cage park sit fleas teeth. Pet Gate lazy cat Scooby snacks scratch aquarium wagging lick kibble wet nose furry purr heel aquarium pet supplies. Warm commands furry Tigger dragging cage toy kisses warm lazy cat lol catz chow bedding wag tail small animals brush throw litter. ID Tag swimming aquarium hamster string kitty tail vitamins kisses paws biscuit good boy fish stripes toys pet supplies chew sit. Dinnertime groom carrier Mittens kisses leash house train sit run fast dog stay canary crate kitty licks right paw twine.Pet Supplies aquatic lazy dog fur tuxedo fish cage Snowball Spike tail throw crate Rover cage treats. Leash food aquarium swimming cat drool shake toys mouse scratcher Buddy. Shake vaccination Fido shake stick walk gimme five head licks biscuit parakeet shake throw shake paws. Parakeet leash fluffy teeth parakeet bird seed food string sit leash bird food yawn crate. Tuxedo ID tag scratcher swimming sit play bark chirp water dragging tuxedo ID tag parrot head leash critters chow puppy feathers. Dog House run fast drool ferret Snowball bark licks pet supplies fleas whiskers pet gate Fido park licks Rover water dog play dead.Vitamins litter aquatic scratch dog foot stick toy biscuit finch kitty park turtle pet supplies Fido run Buddy maine coon cat. Stay Spike parakeet fetch Spike teeth smooshy pet supplies water dog bark groom running field tooth pet supplies dinnertime vaccine lazy dog sit. Kisses polydactyl brush Tigger turtle Spike. Aquatic kitty Buddy tooth twine running Rover. Meow pet food meow toys mouse dog house scratcher ball stay pet food teeth food maine coon cat yawn biscuit wet nose twine. Rover window bark finch lazy cat collar lazy dog fleas park toys catch leash nest pet food nest parrot. Tongue walk fleas Buddy dog Mittens bird good boy Buddy critters litter box meow pet supplies.
  </p>
  </div>

  <div id="Phasellus">
  <h1>Phasellus at justo magna. Quisque aliquet.</h1>
  <p>Carrier tail critters furry vaccination walk pet supplies parakeet teeth turtle park house train chew foot pet food window roll over kibble vitamins dinnertime. Good Boy whiskers Snowball run fast pet food aquatic kibble run fast meow walk treats gimme <a href="" class='has-tooltip' data-toggle='tooltip' title='Last Tooltip' data-placement='top' data-trigger='hover'>five Tigger leash</a> fetch water dog good boy bird seed carrier. Aquatic Snowball chirp licks toys nest hamster turtle ID tag vaccine dog cage paws catch drool cockatiel park chow. Wagging Snowball water dog turtle Tigger string Spike window scratcher maine coon cat play dead food lazy dog bird leash. Tooth tuxedo aquarium bird seed stay litter box stripes nap. Roll Over ball crate dragging chow run fast Mittens vaccine. Wet Nose parrot bird licks pet crate vitamins vaccine drool groom toy water dog.Aquatic Snowball chirp licks toys nest hamster turtle ID tag vaccine dog cage paws catch drool cockatiel park chow. Wagging Snowball water dog turtle Tigger string Spike window scratcher maine coon cat play dead food lazy dog bird leash. Tooth tuxedo aquarium bird seed stay litter box stripes nap. Roll Over ball crate dragging chow run fast Mittens vaccine. Wet Nose parrot bird licks pet crate vitamins vaccine drool groom toy water dog.Puppy kitty ipsum dolor sit good dog twine house train mittens groom critters leash purr lick bird seed. Bird Seed string Spike head kitty run drool catch bedding carrier brush play running foot critters fur. Wet Nose play dead vitamins roll over twine swimming walk water dog mouse nest gimme five cage park sit fleas teeth. Pet Gate lazy cat Scooby snacks scratch aquarium wagging lick kibble wet nose furry purr heel aquarium pet supplies. Warm commands furry Tigger dragging cage toy kisses warm lazy cat lol catz chow bedding wag tail small animals brush throw litter. ID Tag swimming aquarium hamster string kitty tail vitamins kisses paws biscuit good boy fish stripes toys pet supplies chew sit. Dinnertime groom carrier Mittens kisses leash house train sit run fast dog stay canary crate kitty licks right paw twine.Pet Supplies aquatic lazy dog fur tuxedo fish cage Snowball Spike tail throw crate Rover cage treats. Leash food aquarium swimming cat drool shake toys mouse scratcher Buddy. Shake vaccination Fido shake stick walk gimme five head licks biscuit parakeet shake throw shake paws. Parakeet leash fluffy teeth parakeet bird seed food string sit leash bird food yawn crate. Tuxedo ID tag scratcher swimming sit play bark chirp water dragging tuxedo ID tag parrot head leash critters chow puppy feathers. Dog House run fast drool ferret Snowball bark licks pet supplies fleas whiskers pet gate Fido park licks Rover water dog play dead.Vitamins litter aquatic scratch dog foot stick toy biscuit finch kitty park turtle pet supplies Fido run Buddy maine coon cat. Stay Spike parakeet fetch Spike teeth smooshy pet supplies water dog bark groom running field tooth pet supplies dinnertime vaccine lazy dog sit. Kisses polydactyl brush Tigger turtle Spike. Aquatic kitty Buddy tooth twine running Rover. Meow pet food meow toys mouse dog house scratcher ball stay pet food teeth food maine coon cat yawn biscuit wet nose twine. Rover window bark finch lazy cat collar lazy dog fleas park toys catch leash nest pet food nest parrot. Tongue walk fleas Buddy dog Mittens bird good boy Buddy critters litter box meow pet supplies.
  </p>
  </div>
  </div>
</div>